html {
	background-color: green;
}
header p{
	margin: 0;
}
/*header h2{
	margin: 0;
}*/
hr{
    border: 1px solid black;

}
img{
    display: block;
    border-radius: 50%;
	/*transform: rotate(90deg);*/
	padding-top: 100px;
	padding-bottom: 100px;
	size: auto;
	/*float: left;*/
}

.container{
	width: 940px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-top: 0;
}
.content-area{
	border-top: 3px solid green;
	border-bottom: 3px solid green;
	margin-top: 0;
}

footer{
	text-align: center;
	background-color: blanchedalmond;
}
.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}	